* {
  padding: 0;
  margin: 0;
}

#containerservices {
  width: 100%;
  background-color: white;
  padding: 3rem;
  text-align: center;
}

.img-fluid {
  width: 100%;
  height: 250px !important;
}
.Populerbtn {
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  padding: 1rem;
  background-color: black;
  color: whitesmoke;
}
.Populerbtn:hover {
  text-align: center;
  padding: 1rem;
  background-color: White;
  color: black;
}
