body {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/608/995/650/mother-child-silhouettes-motherhood-wallpaper-preview.jpg);
  background-size: 100%;
}
.halaman {
  text-align: center;
  margin-top: 20rem;
}
