.halaman {
  text-align: center;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/608/995/650/mother-child-silhouettes-motherhood-wallpaper-preview.jpg);
  background-size: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
}
