.halaman {
  text-align: center;
  background-image: url(https://i.pinimg.com/564x/a6/7e/04/a67e04fd8c12ac90d781b33c9954b1c7.jpg);
  background-size: 100%;
  padding-top: 20%;
  padding-bottom: 15%;
}
