.navbar {
  margin-top: 1rem;
  margin-left: 5%;
  margin-bottom: 100px;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
}
.navbar a {
  font-family: "Sarabun", sans-serif;
  font-size: 18px;
  color: whitesmoke;
}
.navbar a:hover {
  color: rgb(223, 206, 206);
}
.dropdown a {
  color: black;
}
.dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
