.team-member {
  text-align: center;
  margin-bottom: 2rem;

  padding: 2rem;
  border-radius: 10px;
}
.team-member img {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
  border-radius: 100%;
  border: 10px double black;
}

#ourteam h5,
#ourteam h2,
#ourteam h4 {
  margin-bottom: 1rem;
  font-weight: bolder;
}

#ourteam .container {
  font-family: "Sarabun", sans-serif;
  padding-bottom: 3rem;
}
#ourteam {
  padding: 2rem;
  padding-top: 6rem;
  font-family: "Sarabun", sans-serif;
  font-weight: bolder;
}
#ourTeam img {
  width: 250px;
  height: auto;
}
.businessColumn:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
