#contact {
  background-image: url("https://wallpapercave.com/wp/wp1936868.jpg");
  background-size: 100%;
  text-align: center;
  font-family: "Sarabun", sans-serif;
  margin-bottom: 2rem;
}
#mapsbtn {
  margin: 10rem;
  margin-top: 11rem;
  background-color: transparent;
  color: white;
  padding: 0.8rem;
  border-radius: 10px;
  border: 10px double whitesmoke;
}
#mapsbtn:hover {
  margin: 10rem;
  margin-top: 11rem;
  background-color: whitesmoke;
  color: black;
  padding: 0.8rem;
  border-radius: 10px;
  border: 10px double black;
}
